<div class="body">
    <div class="titulo-questionario">
        <h2>QUESTIONÁRIO</h2>
        <p class="text-center">Questão {{currentQuiz+1}} de {{quizzes.length}}</p>
    </div>

    <div class="questionario">
        <form>
            <div class="pergunta">
                <p>{{quizzes[currentQuiz].question}}<br><br></p>                
            </div>
            <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
                <label>
                    <li class="li-group-item">                       
                        <input type="radio" name="options" (change)="onAnswer(quiz.correct, quiz.valor)" [disabled]="answerSelected">
                        {{quiz.option}} 
                    </li>
                </label>
            </ul>

            Questões corretas: {{correctAnswers}}. | Questões Incorretas: {{incorrectAnswers}}
        </form>
    </div>
    <div class="correcao">
        <h3>Respostas</h3>
        <div class="campo-correcao">
            <p id="r1" >1{{valorSelecionado}}</p>
            <p id="r2">2{{valorSelecionado}}</p>
            <p id="r3">3{{valorSelecionado}}</p>
            <p id="r4">4{{valorSelecionado}}</p>
            <p id="r5">5{{valorSelecionado}}</p>
            <p id="r6">6{{valorSelecionado}}</p>
            <p id="r7">7{{valorSelecionado}}</p>
            <p id="r8">8{{valorSelecionado}}</p>
            <p id="r9">9{{valorSelecionado}}</p>
            <p id="r10">10{{valorSelecionado}}</p>
        </div>
        <button type="input" value="enviar">Finalizar</button>
    </div>
</div>