<div class="home">
  <div class="login">
    <form class="conteudo-form" [formGroup]="loginForm" (submit)="submitLogin()">
      <div class="email">
        <label for="inputEmail">Usuário ou E-mail</label>
        <input type="email" class="form-control" 
        placeholder="Digite seu email" formControlName="email"/>
      </div>    

      <div class="senha">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control"
        placeholder="Senha" formControlName="senha"/>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Lembrar Dados.</label>
      </div>

      <div class="esqueceu">
        <p><a href="">Esqueceu a senha?</a></p>
      </div>

      <div class="cadastrar">
        <p><a routerLink="cadastrar-login">Cadastre-se</a></p>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
        Entrar
      </button>
    </form>
  </div>
</div>
