  <div class="lista-cursos">
    <h4>{{title}}</h4>
    <ul>
      <li>
        <a routerLink="/questionario"
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg" alt="Angular Framework"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
      <li>
        <a
          ><img src="https://www.cse.ust.hk/~muppala/img/muppala-small.jpg"
        /></a>
        <p>Angular Framework</p>
      </li>
    </ul>
  </div>

