<div class="home">
    <div class="login">
      <form>
        <div class="email">
          <label for="exampleInputEmail1">Insira seu email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="senha">
          <label for="exampleInputPassword1">Digite uma senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="senha">
          <label for="exampleInputPassword1">Confirme sua senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Lembrar Dados.</label
          >
        </div>
        <div class="esqueceu">
          <p><a href="">Esqueceu a senha?</a></p>
        </div>
        <div class="cadastrar">
          <p><a href="">Cadastre-se</a></p>
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/catalogo">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
  